beautifulsoup4
bert_score
chromadb
datasets
dynaconf
evaluate
faiss-cpu
gpt4all==2.1.0
gradio
grandalf
huggingface_hub
jq
langchain==0.1.9
langchain-core==0.1.27
langchain_experimental==0.0.52
langchainhub==0.1.14
langsmith==0.1.10
lark
lxml
pandas
pyspark==3.3.1
rank_bm25
requests
rouge_score
scikit-learn
sentence_transformers
spacy
spark-nlp==5.2.3
tabulate
tiktoken
torch
tqdm
transformers
typing
